Package: com.77unlucky.lucky77
Name: Lucky77
Version: 0.1
Architecture: iphoneos-arm
Description: Standoff 2 cheat menu
Maintainer: hack77ios
Author: hack77ios
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
